* {
    background-color: blanchedalmond;
}

h1 {
    color: darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    text-align: center;
    border: 2em;
    padding: 100px;
}